@{
    ViewData["Title"] = "About Us";
}

<div class="about_div">
    <div class="about_column">
        <h1>About Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad eveniet et nihil, pariatur iure quo adipisci officiis quaerat saepe ullam minima optio sunt, ducimus quas in id delectus aspernatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad eveniet et nihil, pariatur iure quo adipisci officiis quaerat saepe ullam minima optio sunt, ducimus quas in id delectus aspernatur.
        </p>
    </div>
    <div class="about_column">
        <img src="~/img/aboutImage.jpg" width="500px" height="400px" alt="BookHaven Shop" />
    </div>
</div>

<div class="donate_div">
    <div class="column2">
        <img src="~/img/DonateImage.jpg" width="400px" height="400px" alt="Donation Box" />
    </div>
    <div class="column2">
        <h1>How To Donate</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quos corporis, accusamus veniam facere fugiat fuga quasi voluptatibus voluptate, suscipit id repudiandae laborum cumque quibusdam earum iusto sapiente dolores. Consequuntur!
        </p>
    </div>
</div>