@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BookHaven.Models.Book>

<div class="intro">
    <h1>Welcome To Book Haven</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim libero odit voluptates debitis? Dolorem, id voluptates totam doloremque, vitae suscipit explicabo porro dignissimos nisi dolores doloribus eligendi sapiente earum.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, cum tenetur? Molestiae, doloribus. Odio tenetur laboriosam qui dolore cumque sint, quaerat ea mollitia consectetur aliquam ullam rerum eos numquam saepe.
    </p>
    <a class="button" asp-controller="Home" asp-action="About">Learn more</a>
</div>

<div><h2 id="features">Featured Books</h2></div>

<div class="book-gallery"> 
    @foreach (var book in Model)
    {
        <div class="book-item">
            <img src="~/uploads/@book.Image" width="200" height="200" alt="@book.Title" />
            <h4>@book.Title</h4> 
            <p>@book.Price</p> 
        </div>
    }
</div>
<div class="center-container">
    <a id="shop" class="button" asp-controller="Book" asp-action="Index">Shop</a>
</div>

<div class="about">
    <div class ="column">
        <img src="~/img/BookCats.jpg" alt="Book Cats" />
    </div>
    <div class="column">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum quidem ad nemo sunt minima dolore nam explicabo temporibus. Libero alias dignissimos corrupti repudiandae! Dolorem voluptate nulla illo nisi earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae non reiciendis, facere neque nulla aut accusamus dolores perferendis accusantium dignissimos? Assumenda cum dolorum exercitationem animi vitae. Magnam est dicta quibusdam!
        </p>
        <a class="button" asp-controller="Home" asp-action="About">About Page</a>
    </div>
</div>
