@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Introduction:</h2>
<p>
    At BookHaven, we respect your privacy and are committed to protecting your personal information. 
    This policy explains how we collect, use, and safeguard your data.
</p>
<h2>We collect:</h2>
<p>
    Name, email, and contact details
</p>
<h2>Use Of Information:</h2>
<p>
    Personalize your experience. Communicate with you.Process transactions.
</p>
<h2>For questions, contact us at:</h2>
<p>
    Email: admin@bookhaven.com
    <br />
    Address: 19891 72nd Book st ct s City Haven
</p>